<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>Users</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let user of users; last as last">
        <p class="subheading-1">
          {{ user.firstName }} {{ user.lastName }}
        </p>
        <button (click)="selected.emit(user)" mat-icon-button>
          <mat-icon>
            mode_edit
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>
            delete_forever
          </mat-icon>
        </button>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>