<mat-card *ngIf="isNotEmpty(selectedUser)">
  <mat-card-title>
    <h4>Editing: {{ firstAndLastName }}</h4>
        <form class="session-container" [formGroup]="userForm" (submit)="saved.emit(userForm.value)">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
      </mat-form-field>
      <button mat-raised-button [disabled]="!userForm.valid">Update User</button>
      <mat-list *ngIf="errors?.length > 0">
        <mat-list-item *ngFor="let error of errors">{{ error }}</mat-list-item>
      </mat-list>
    </form>
  </mat-card-title>
</mat-card>
