.map-container {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.info-window {
  min-width: 300px;
  padding: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.info-window > * {
  flex: 1;
}

button {
  align-self: flex-end;
}

agm-map {
  height: 80vh;
}

@media (max-width: 800px) {
  min-width: 300px;
  margin-bottom: 20px;

  .map-container {
    height: 60vh;
  }

  agm-map {
    height: 60vh;
  }
}
