<mat-card class="map-container">
  <agm-map [zoom]="mapZoom" [disableDefaultUI]="true" [latitude]="mapLat" [longitude]="mapLng" [minZoom]="maxConstraint"
    [clickableIcons]="false" (boundsChange)="boundsChanged.emit($event)">
    <agm-marker *ngFor="let school of schools" [latitude]="school.location_1.coordinates[1]" [longitude]="school.location_1.coordinates[0]"
      [iconUrl]="'./assets/icons/school.png'">
      <agm-snazzy-info-window [maxWidth]="600" [closeWhenOthersOpen]="true">
        <ng-template>
          <h5>{{ school.campus_name }}</h5>
          <h6>{{ school.campus_address}}</h6>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <agm-marker *ngFor="let police of policeEvents" [latitude]="police.location.coordinates[1]" [longitude]="police.location.coordinates[0]"
      [iconUrl]="'./assets/icons/caution.png'" class="police-marker">
      <agm-snazzy-info-window [maxWidth]="600" [closeWhenOthersOpen]="true">
        <ng-template>
          <h5>{{ police.category }}</h5>
          <h6>{{ police.descript }}</h6>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</mat-card>
