<section class="schools-container">
  <app-schools-search-form
    (changed)="checkPoliceToggle($event)"
  >
  </app-schools-search-form>
  <mat-card class="map-container">
    <agm-map [zoom]="defaultZoom" [disableDefaultUI]="true" [latitude]="defaultLat" [longitude]="defaultLng" [minZoom]="maxConstraint" [clickableIcons]="false">
      <agm-marker *ngFor="let school of schools" [latitude]="school.location_1.coordinates[1]" [longitude]="school.location_1.coordinates[0]">
        <agm-snazzy-info-window [maxWidth]="600" [closeWhenOthersOpen]="true">
          <ng-template>
            <h5>{{ school.campus_name }}</h5>
            <h6>{{ school.campus_address}}</h6>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
  </mat-card>
</section>
