.schools-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.schools-container > * {
  width: 45%;
}

.card-title {
  text-align: center;
}

@media (max-width: 800px) {
  .schools-container {
    flex-direction: column;
    justify-content: center;
  }

  .schools-container > * {
    width: 95%;
  }
}