.schools-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.police-marker {
  fill: red;
}

.map-container {
  padding: 0;
  margin: 0;
  min-width: 600px;
}

.schools-container > * {
  width: 45%;
}

.card-title {
  text-align: center;
}

agm-map {
  height: 800px;
}

agm-snazzy-info-window {
  width: 400px;
}
