<mat-toolbar color="primary" class="mat-elevation-z4">
  <a routerLink="/">
    <h1 class="headline">Housing</h1>
  </a>
  <span class="navbar-filler"></span>
  <div id="nav-session-menu" *ngIf="!authService.isLoggedIn()">
    <button id="nav-login" [routerLink]="['/login']" mat-button>Login</button>
    <button id="nav-signup" [routerLink]="['/signup']" mat-button>Sign Up</button>
  </div>
  <button id="nav-menu" *ngIf="authService.isLoggedIn()" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/manage-users']">Manage Users</button>
    <button id="nav-logout" mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
