<mat-toolbar color="primary" class="mat-elevation-z4">
  <a routerLink="/">
    <span>Housing</span>
  </a>
  <span class="navbar-filler"></span>
  <div *ngIf="!authService.isLoggedIn()">
    <button [routerLink]="['/login']" mat-button>Login</button>
    <button [routerLink]="['/signup']" mat-button>Sign Up</button>
  </div>
  <button *ngIf="authService.isLoggedIn()" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/manage-users']">Manage Users</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
