.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.dashboard-container > * {
  width: 45%;
}

.card-title {
  text-align: center;
}
